.bt{
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    float:left;
}
.pt{
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    float: left;
}
.l{
    margin-left: auto;
    margin-right: auto;
    float: right;
    padding-right: 100px;
    padding-top: 20px;
}
.l1{
    
    float: right;
    padding-right: 100px;
    padding-top: 200px;
}
.container{
    background-color: white;
}