.login{
    text-align: justify;
    padding: 4% 10% 0%  10%;
}
.header{
    padding-left: 20px;
     height: 8%;
     position:relative;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     opacity: 60%;
}